/* Fonts */
@font-face {
    font-family: "Vollkorn SC";
    src: url("font/VollkornSC-Regular.woff") format("woff")
}

@font-face {
    font-family: "IBM Sans";
    src: url("font/IBMPlexSans-Regular.woff") format("woff")
}

@font-face {
    font-family: "IBM Mono";
    src: url("font/IBMPlexMono-Regular.woff") format("woff")
}

/* Classes */
.section {
    text-align: left;
    padding-top: 10px;
    text-decoration: underline;
    position: sticky;
}

/* Fonts */
#Denver {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

/* Element Selectors */
video {
    padding-bottom: 50px;
    max-width: 70%;
    height: 50%;
}

main {
    padding-bottom: 40px;
}

form {
    margin: auto;
}

iframe {
    min-width: 50%;
    height: auto;
}

p, li, caption, summary {
    position: static;
    font-family: "IBM Sans";
}


footer {
    position: fixed;
    background-color: #162230;
    left: 0;
    bottom: 0;
    font-size: 12px;
    height: 40px;
    width: 100vw;
    color:rgba(245, 247, 250, 1);
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: "Vollkorn SC";
}

em, b {
    color: #9f9;
    font-size: 1.25em;
    display: inline;
}

pre {
    padding-left: 10px;
    padding-right: 10px;
}

pre, code {
    background-color: black;
    width: 5in;
}

footer p a {
    color:rgb(173, 216, 230);
}

div[id="desc"] {
    max-width: 50%;
}

a:hover {
    color: white;
    background-color: black;
}

a:active {
    color: black;
    background-color: white;
}

pre > code {
    font-family: "IBM Mono";
    color: white;
}

img + figcaption {
    padding: 0 0 0 10mm;
}

p ~ aside{
    padding-left: 10px;
    padding-right: 10px;

}

em.pronouns {
    display: block;
}