@font-face {
    font-family: "Vollkorn SC";
    src: url("font/VollkornSC-Regular.woff") format("woff")
}

@font-face {
    font-family: "IBM Sans";
    src: url("font/IBMPlexSans-Regular.woff") format("woff")
}

@font-face {
    font-family: "IBM Mono";
    src: url("font/IBMPlexMono-Regular.woff") format("woff")
}

.random {

}

#favorite {

}

main {
    padding-bottom: 40px;
}

p, li, caption, summary {
    font-family: "IBM Sans";
}

footer {
    position: fixed;
    background-color: #162230;
    left: 0;
    bottom: 0;
    font-size: 12px;
    height: 40px;
    width: 100vw;
    color:rgba(245, 247, 250, 1);
}

footer p a {
    color:rgb(173, 216, 230);
}

h1, h2, h4 {
    font-family: "Vollkorn SC";
}

div[id] {
    font-family: "Vollkorn SC";
}

a:hover {
    color: white;
    background-color: black;
}

a:active {
    color: black;
    background-color: white;
}

em, i {

}

figcaption p {

}

pre > code {
    font-family: "IBM Mono";
    color: white;
}

p + aside {

}

colgroup ~ caption{

}

p.random {

}